.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
}
::-webkit-scrollbar-track-piece:start {
    background: transparent;
}
::-webkit-scrollbar-track-piece:end {
    background: transparent;
}